<!--<section class="page-with-tabs">-->
    <!--<mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="onIndexChange($event)"-->
                   <!--(selectedTabChange)="onTabsChange($event)" *ngIf="globalLabel && moduleLabel">-->
        <!--<mat-tab label="{{moduleLabel['text']['taskList']}}">-->
            <section class="container-fluid" minheight *ngIf="globalLabel">
                <article class="article">
                    <div class="box box-default m-t">
                        <div class="box-header">{{globalLabel['text']['btnSearch']}}</div>
                        <div class="box-divider"></div>
                        <div class="box-body">
                            <form #taskLogForm="ngForm">
                                <div class="form-group row">
                                    <!--<div class="col-sm-3">
                                        <mat-form-field class="full-width">
                                            <mat-select placeholder="{{moduleLabel['text']['sendType']}}"
                                                        [(ngModel)]="taskLog.sendType" name="sendType">
                                                <mat-option *ngFor="let r of logType" [value]="r.optionId">
                                                    {{r.optionName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field class="full-width">
                                            <mat-select placeholder="{{moduleLabel['text']['status']}}"
                                                        [(ngModel)]="taskLog.status" name="status">
                                                <mat-option *ngFor="let s of statusList" [value]="s.optionId">
                                                    {{s.optionName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field class="full-width">
                                            <mat-label>{{moduleLabel['text']['dateFrom']}}</mat-label>
                                            <input matInput
                                                   *ngIf="taskLogForm!=undefined"
                                                   name="dateFrom"
                                                   [matDatepicker]="picker"
                                                   [(ngModel)]="taskLog.dateFrom"
                                                   [readonly]="true"
                                                   (dateChange)="onChange($event)"
                                                   (click)="picker.open()">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field class="full-width">
                                            <mat-label>{{moduleLabel['text']['dateTo']}}</mat-label>
                                            <input matInput
                                                   *ngIf="taskLogForm!=undefined"
                                                   name="dateTo"
                                                   [matDatepicker]="picker1"
                                                   [(ngModel)]="taskLog.dateTo"
                                                   [readonly]="true"
                                                   (dateChange)="onChange($event)"
                                                   (click)="picker1.open()">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>-->
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <button mat-raised-button color="primary" class="btn-w-xs no-margin-left" (click)="onSearch()">{{globalLabel['text']['btnSearch']}}</button>
                                        <button mat-raised-button color="primary" class="btn-w-xs no-margin-left" type="reset"  [disabled]="taskLogForm.pristine">{{globalLabel['text']['btnReset']}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="box box-default">
                        <div class="box-header" id="list" >{{globalLabel['text']['list']}}</div>
                        <!--<div [ngClass]="{'box-divider':auth.rightInsert || auth.rightDelete}"></div>-->
                        <div class="box-body">
                            <!--<div [ngClass]="{'row m-b':auth.rightInsert || auth.rightDelete}">-->
                            <!--<div class="col-12">-->

                            <!--<button mat-raised-button  color="accent" class="btn-w-xs"-->
                            <!--*ngIf="auth.rightInsert" (click)="onAdd()">-->
                            <!--{{globalLabel['text']['btnAdd']}}-->
                            <!--</button>-->
                            <!--<button mat-raised-button  color="warn" class="btn-w-xs"-->
                            <!--*ngIf="auth.rightDelete" [disabled]="isBtnDelete" (click)="onDelete()">-->
                            <!--{{globalLabel['text']['btnDel']}}-->
                            <!--</button>-->

                            <!--</div>-->
                            <!--</div>-->
                            <div class="table-responsive" >
                                <table datatable [dtOptions]="dtOptions" class="table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Cron Name</th>
                                        <th>Detail</th>
                                        <!--<th>{{moduleLabel['text']['status']}}</th>-->
                                        <!--<th>{{moduleLabel['text']['log']}}</th>-->
                                        <!--<th>{{moduleLabel['text']['status']}}</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </article>
            </section>
        <!--</mat-tab>-->
        <!--<mat-tab label="{{moduleLabel['text']['taskLogDetails']}}" *ngIf="isDisplay">-->
            <!--&lt;!&ndash;<task-log-form&ndash;&gt;-->
            <!--&lt;!&ndash;[pageType]="pageType"  [taskLogData]="taskLogData"&ndash;&gt;-->
            <!--&lt;!&ndash;[moduleLabel]="moduleLabel" [globalLabel]="globalLabel"&ndash;&gt;-->
            <!--&lt;!&ndash;[statusList]="statusList"   [roleList]="roleList"&ndash;&gt;-->
            <!--&lt;!&ndash;(onReload)="onReload($event)"&ndash;&gt;-->
            <!--&lt;!&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</task-log-form>&ndash;&gt;-->
        <!--</mat-tab>-->
    <!--</mat-tab-group>-->
<!--</section>-->