<ng-container *ngIf="type == 'search'">
    <mat-form-field class="full-width">
        <mat-label>{{field.labelText}}</mat-label>
        <input matInput
               [matDatepicker]="picker"
               [formControl]="ctrl"
               [readonly]="true"
               (dateChange)="onChange($event)"
               (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</ng-container>

<ng-container *ngIf="type == 'form'">
    <mat-form-field class="full-width">
        <mat-label>{{field.labelText}}</mat-label>
        <input matInput
               [required]="field.validation?.indexOf('required')>-1?true:false"
               [matDatepicker]="picker"
               [formControl]="ctrl"
               [readonly]="true"
               (dateChange)="onChange($event)"
               (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="ctrl.invalid && (ctrl.touched ||ctrl.dirty )">
            <module-error
                    [ctrl]="ctrl"
                    [field]="field"
                    [moduleLabel]="moduleLabel"
                    [globalLabel]="globalLabel"
            ></module-error>
        </mat-error>
    </mat-form-field>
</ng-container>