<section class="page-with-tabs">
    <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="onIndexChange($event)"
                   (selectedTabChange)="onTabsChange($event)" *ngIf="globalLabel && moduleLabel">
        <mat-tab label="list">
            <section class="container-fluid" minheight>
                <article class="article">
                    <div class="box box-default m-t">
                        <div class="box-header">{{globalLabel['text']['btnSearch']}}</div>
                        <div class="box-divider"></div>
                        <div class="box-body">
                            <form #quotationForm="ngForm">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="{{moduleLabel['text']['quotationNo']}}"
                                                   name="quotationName" [(ngModel)]="quotation.quotationName">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field class="full-width">
                                            <mat-select placeholder="{{moduleLabel['text']['quoClient']}}"
                                                        [(ngModel)]="quotation.clientId" name="clientId">
                                                <mat-option *ngFor="let r of clientOList" [value]="r?.clientId">
                                                    {{r?.clientName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field class="full-width" *ngIf="contactOList">
                                            <mat-select placeholder="{{moduleLabel['text']['quoContact']}}"
                                                        [(ngModel)]="quotation.contactId" name="contactId">
                                                <mat-option *ngFor="let r of contactOList" [value]="r.contactId">
                                                    {{r.contactName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <button mat-raised-button color="primary" class="btn-w-xs no-margin-left" (click)="onSearch()">{{globalLabel['text']['btnSearch']}}</button>
                                        <button mat-raised-button color="primary" class="btn-w-xs no-margin-left" type="reset"  [disabled]="quotationForm.pristine">{{globalLabel['text']['btnReset']}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="box box-default">
                        <div class="box-header" id="list" >{{globalLabel['text']['list']}}</div>
                        <div [ngClass]="{'box-divider':auth.rightInsert || auth.rightDelete}"></div>
                        <div class="box-body">
                            <div [ngClass]="{'row m-b':auth.rightInsert || auth.rightDelete}">
                                <div class="col-12">

                                    <button mat-raised-button  color="accent" class="btn-w-xs"
                                            *ngIf="auth.rightInsert" (click)="onAdd()">
                                        {{globalLabel['text']['btnAdd']}}
                                    </button>
                                    <button mat-raised-button  color="warn" class="btn-w-xs"
                                            *ngIf="auth.rightDelete" [disabled]="isBtnDelete" (click)="onDelete()">
                                        {{globalLabel['text']['btnDel']}}
                                    </button>
                                    <!--<button mat-raised-button exportRecord [url]="this.url"  color="accent" class="btn-w-xs">
                                        {{moduleLabel['text']['exportRecord']}}
                                    </button>
                                    <button mat-raised-button uploadExcel color="accent" class="btn-w-xs" >
                                        {{moduleLabel['text']['importFromExcel']}}
                                    </button>
                                    <button mat-raised-button  color="primary" class="btn-w-xs"
                                            *ngIf="auth.rightSetClient"  [disabled]="isBtnSetClient" (click)="onSetClient()">
                                        {{moduleLabel['text']['addClientBtn']}}
                                    </button>
                                    <button mat-raised-button  color="primary" class="btn-w-xs"
                                            *ngIf="auth.rightSetContact"  [disabled]="isBtnSetContact" (click)="onSetContact()">
                                        {{moduleLabel['text']['addContactBtn']}}
                                    </button>-->

                                </div>
                            </div>

                            <div class="table-responsive" >
                                <table datatable [dtOptions]="dtOptions" class="table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{moduleLabel['text']['quotationNo']}}</th>
                                        <th>{{moduleLabel['text']['title']}}</th>
                                        <th>{{moduleLabel['text']['quoClient']}}</th>
                                        <th>{{moduleLabel['text']['quoContact']}}</th>
                                        <th>{{moduleLabel['text']['createDate']}}</th>
                                        <th>{{moduleLabel['text']['totalCost']}}</th>
                                        <th>{{globalLabel['text']['status']}}</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </article>
            </section>
        </mat-tab>
        <mat-tab label="{{pageType=='add'?globalLabel['text']['btnAdd']:globalLabel['text']['detail']}}" *ngIf="isDisplay">
            <my-quotation-form
                    [pageType]="pageType" [keyId]="openId"
                    [moduleLabel]="moduleLabel" [globalLabel]="globalLabel"
                    (onReload)="onReload($event)"
            >
            </my-quotation-form>
        </mat-tab>
    </mat-tab-group>
</section>