<section class="container-fluid" minheight>
    <article class="article">
        <div class="box box-default m-t">
            <div class="box-header" id="list" >{{globalLabel['text']['list']}}</div>
            <div class="box-body">
                <div class="table-responsive" >
                    <table datatable [dtOptions]="dtOptions" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>{{moduleLabel['text']['taskName']}}</th>
                            <th>{{moduleLabel['text']['status']}}</th>
                            <th>{{moduleLabel['text']['startTime']}}</th>
                            <th>{{moduleLabel['text']['endTime']}}</th>
                            <th>{{moduleLabel['text']['log']}}</th>
                            <th>{{moduleLabel['text']['position']}}</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
</section>